In [25]:
import arithmetic as a
import math
num = 10
total = arithmetic.get_sum(100, 50)
print(total)

diff = a.get_sub(10, 5)
print(diff)

product = arithmetic.get_mul(10, 51)
print(product)

print(ma.sqrt(4))

150
5
510
2.0

In [20]:
name = 'Rohit'
# Congratulations Kishan for your double century
print(f'Congratulations {name} for your double century')
print('Congratulations {name} for your double century'.format(name='Rohit'))

Congratulations Rohit for your double century
Congratulations Rohit for your double century

In [18]:
def get_greeting():
    return 'Congratulations {name} for your double century'

greeting_msg = get_greeting()
print(greeting_msg.format(name='Kishan'))

Congratulations Kishan for your double century

In [30]:
import queries as sql

employee_query = sql.get_employee()
print(employee_query)
print(employee_query.format(table_name='employee'))
print(employee_query.format(table_name='manager'))

SELECT * from {table_name}
SELECT * from employee
SELECT * from manager

In [26]:
print(num)

10

In [31]:
import mysql.connector as con

mydb = con.connect(host='localhost', user='admin', password='password')

ModuleNotFoundError: No module named 'mysql'

In [48]:
# prime or not
# 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31......
num = int(input('Enter the number to be checked: '))

if (num <= 1):
    print('Invalid ...')
else:
    # flag based approach
    is_prime = True
    for i in range(2, num):
        if (num % i == 0):
            is_prime = False
            break
    
    if (is_prime == True):
        print('prime number')
    else:
        print('Not a prime number')

Enter the number to be checked: 3
prime number

In [55]:
# prime or not
# 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31......
# optimised - 1
num = int(input('Enter the number to be checked: '))

if (num <= 1):
    print('Invalid ...')
else:
    # flag based approach
    is_prime = True
    for i in range(2, num // 2 + 1):
        if (num % i == 0):
            is_prime = False
            break
    
    if (is_prime == True):
        print('prime number')
    else:
        print('Not a prime number')

Enter the number to be checked: 113
prime number

In [57]:
# prime or not
# 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31......
# optimised - 2
import math as m
num = int(input('Enter the number to be checked: '))

if (num <= 1):
    print('Invalid ...')
else:
    # flag based approach
    is_prime = True
    for i in range(2, int(m.sqrt(num))):
        if (num % i == 0):
            is_prime = False
            break
    
    if (is_prime == True):
        print('prime number')
    else:
        print('Not a prime number')

Enter the number to be checked: 1000001
Not a prime number

In [69]:
# armstrong number
# 153 -> 1**3 + 5**3 + 3**3 = 1 + 125 + 27 = 153 -> armstrong number
# 64 -> 6**3 + 4**3 = 216 + 64 = 280 -> not an armstrong number

num = int(input('Enter the number: '))
original_num = num

total = 0
while(num > 0):
    digit = num % 10
    print('last digit -->', digit)
    total = total + digit ** 3
    num = num // 10
    print('remaining number', num)
    

if (original_num == total):
    print('armstrong number')
else:
    print('not an armstrong number')

Enter the number: 153
last digit --> 3
remaining number 15
last digit --> 5
remaining number 1
last digit --> 1
remaining number 0
armstrong number

In [74]:
def get_sum(n1, n2):
    return n1 + n2

def get_sub(n1, n2):
    return n1 - n2

def get_mul(n1, n2):
    return n1 * n2

def get_rem(n1, n2):
    return n1 % n2


# num1, num2, command -> add, sub, mul, rem
num1 = int(input('Enter num1: '))
num2 = int(input('Enter num2: '))
command = input('Enter the command: ')

if(command == 'add'):
    print(get_sum(num1, num2))
elif(command == 'sub'):
    print(get_sub(num1, num2))
elif(command == 'mul'):
    print(get_mul(num1, num2))
elif(command == 'rem'):
    print(get_rem(num1, num2))
else:
    print('invalid...')

Enter num1: 10
Enter num2: 15
Enter the command: ADD
invalid...

In [76]:
def get_sum(n1, n2):
    return n1 + n2

def get_sub(n1, n2):
    return n1 - n2

def get_mul(n1, n2):
    return n1 * n2

def get_rem(n1, n2):
    return n1 % n2


# num1, num2, command -> add, sub, mul, rem
num1 = int(input('Enter num1: '))
num2 = int(input('Enter num2: '))
command = input('Enter the command: ')
command = command.upper() # conversion

if(command == 'ADD'):
    print(get_sum(num1, num2))
elif(command == 'SUB'):
    print(get_sub(num1, num2))
elif(command == 'MUL'):
    print(get_mul(num1, num2))
elif(command == 'REM'):
    print(get_rem(num1, num2))
else:
    print('invalid...')

Enter num1: 10
Enter num2: 15
Enter the command: mul
150

In [90]:
# fibonacci series -> 0, 1, 1, 2, 3, 5, 8, 13, 21, 34 ....
# 5 fibonacci nums -> 0, 1, 1, 2, 3

count = 5
n1 = 0
n2 = 1

if (count == 1):
    print(n1)
else:
    while(count > 0):
        print(n1, end = ' ')
        temp = n1 + n2
        n1 = n2
        n2 = temp
#         print('n1 ->', n1, 'n2 ->', n2)
        count -= 1

0 1 1 2 3

In [95]:
# nested dictionary

car = {
    'name': 'Mercedez',
    'model': 2022,
    'type': 'Sedan',
    'mileage': 40,
    'tyres': {
        'count': 5,
        'brand': 'Michelline',
        'company': {
            'place': 'India',
            'mfg': "2000 tyres per day"
        }
    }
}

# mileage
# print(car.get('mileage'))
# print(car.get('tyres').get('brand'))
# print(car.get('tyres').get('company').get('place'))

India

In [103]:
# sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# print(set1.union(set2))
# print(set2.union(set1))

# print(set1.intersection(set2))
# print(set2.intersection(set1))

# print(set1.difference(set2))
# print(set2.difference(set1))


# set1 = {1, 2, 3, 4, 5, 6}
# set2 = {2, 3}
# print(set2.issubset(set1))
# print(set1.issubset(set2))

True
False

In [107]:
fruit = {
    'name': 'apple',
    'made_in': 'india',
    'harvested_on': '10th Dec 2022'
}

# keys
print(list(fruit.keys()))
# values
print(list(fruit.values()))
# keys and values
print(list(fruit.items()))

['name', 'made_in', 'harvested_on']
['apple', 'india', '10th Dec 2022']
[('name', 'apple'), ('made_in', 'india'), ('harvested_on', '10th Dec 2022')]

In [108]:
players = ['Ronaldo', 'Messi', 'Neymar', 'Sunil', 'Vasanth', 'ibrahimovic', 'beckham']
for name in players:
    print(name)

Ronaldo
Messi
Neymar
Sunil
Vasanth
ibrahimovic
beckham

In [113]:
players = ['Ronaldo', 'Messi', 'Neymar', 'Sunil', 'Vasanth', 'ibrahimovic', 'beckham']

for index, name in enumerate(players):
    print(index, name)

0 Ronaldo
1 Messi
2 Neymar
3 Sunil
4 Vasanth
5 ibrahimovic
6 beckham

In [120]:
keys = ['name', 'age']
values = ['virat', 34]
# {
#   'name': 'virat',
#   'age': 34
# }

person = dict()
for i in range(len(keys)):
#     print(keys[i], values[i])
    key = keys[i]
    value = values[i]
    print(key, value)
    person[key] = value
    
print(person)

name virat
age 34
{'name': 'virat', 'age': 34}

In [118]:
person = {
    'name': 'virat', 
    'age': 34
}

# person['age'] = 50
# person['car'] = 'audi r8'
print(person)

{'name': 'virat', 'age': 34, 'car': 'audi r8'}

In [126]:
keys = ['name', 'age', 'place']
values = ['virat', 34, 'india', 'delhi']

person = dict()
for key, value in zip(keys, values): # zip will stop if any one of the list ends
    person[key] = value
print(person)

{'name': 'virat', 'age': 34, 'place': 'india'}

In [129]:
# even nos uptp 50
even_nums = []
num = 50
for num in range(2, num, 2):
    even_nums.append(num)
print(even_nums)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [130]:
# even nos uptp 50
even_nums = []
num = 50
for num in range(2, num, 2):
    even_nums.append(num ** 2)
print(even_nums)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304]

In [136]:
mail_id = 'abc@yahoo.com' # #yahoo.com. @hotmail.com
# host and domain
# host -> abc
# domain -> gmail.com

# split()
# host, domain = mail_id.split('@')
# print(host, domain)
# print(mail_id.split('a'))

['', 'bc@y', 'hoo.com']